<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/form/css/bootstrap.min.css">
	   <link rel="stylesheet" href="/form/css/style.css">
<link rel="stylesheet" href="/form/css/font-awesome.min.css">
    <title>Form | Songmines</title>
  </head>
  <body>
   
	  <div class="container-fluid PageBody">		  
		   <div class="row fixed-top Header d-inline-flex">
			   <div class="pl-3"><img src="/form/images/logo.png" style="width:80px;"></div>
<div class="pl-3 PageHeading text-start"><h2>songmines</h2><span>ab har dil gaayega . . .</span></div>
			  
		  </div>
		  
	  <div class="row">
<div class="col-12">

  <div class="PageHeading"><h3 style="margin-bottom:0;">Gift a song to your loved ones</h3></div>
  
</div>
  
		  
		 
	  </div>
	  
	 <div class="row">
		  
<div class="col">
	<div class="pt-2">
        <form action="/form/<%= id %>" method="post">
		<div class="row">
			<div class="col-lg-12 col-sm-12">

  <div class="PageHeading"><h4>Your Information</h4></div>
  
</div>

<div class="col-lg-4 col-sm-12"><div class="form-group">
                   <label>Your Name</label>
                       <input type="text" name="name" value="" class="form-control">
             </div></div>
		<div class="col-lg-4 col-sm-12"><div class="form-group">
                   <label>Your Mobile Number</label>
                       <input type="text" name="number" value="" class="form-control">
             </div></div>
		<div class="col-lg-4 col-sm-12"><div class="form-group">
                   <label>Your Contact (whatsapp/botim)</label>
                       <input type="text" name="whatsapp" value="" class="form-control">
             </div></div>
			<div class="col-lg-4 col-sm-12"><div class="form-group">
                   <label>Your Email ID</label>
                       <input type="text" name="email" value="" class="form-control">
             </div></div>
		</div>
		
		<div class="row">
			<div class="col-lg-12 col-sm-12" style="height:10px; border-bottom:1px solid #DFB669; margin-bottom:10px;"></div>
		</div>

	<div class="row">
<div class="col-lg-4 col-sm-12"><div class="form-group">
                   <label>Choose occasion to Gift a Song</label>
                    <select name="occasion" class="form-control">
                         <option>Select</option>
						  <option>Love Expressions</option>
                          <option>Propose</option>
						 <option>Birthday</option>
						 <option>Anniversary</option>
						 <option>Friendship</option>
						 <option>Relationship (Father, Mother, Daughter,  Husband, Wife, kids, etc.)</option>
						 <option>Big Fat Wedding (Engagement, Pre-Wedding, Mehendi, Sangeet, Varmala, Vedic Pheras, Vidai, etc.</option>
						 <option>Baby Shower</option>
						 <option>School / Collège Anthem</option>
						 <option>Brand Building Jingles</option>
						 <option>Others (Sorry, Missing You, Heart Break, etc.)</option>
						 </select>
             </div></div>
		
		
		<div class="col-lg-4 col-sm-12"><div class="form-group">
                   <label>Name of the person for whom the song to be created</label>
                       <input type="text" name="receiverName" value="" class="form-control">
             </div></div>
		
		<div class="col-lg-4 col-sm-12"><div class="form-group">
                   <label>Relationship of the person for whom the song to be created</label>
                       <input type="text" name="relationship" value="" class="form-control" placeholder="Friend/Husband/Wife/Boss etc.">
             </div></div>
		
		
		
		<div class="col-lg-12 col-sm-12"><div class="form-group">
			<label>Tell us your story, we will make it sing</label></br>
			<p class="Instruction mb-1">How you met; what you like about him/her; memories of him/her which pops a smile, how he/she inspired you; hangout stories; Important dates to mention; their importance in your life; embarrassing  moments you tease them with; heart of your story; anything else to mention</p>
                       <textarea class="form-control" name="story" id="" rows="2" placeholder=""></textarea>
             </div></div>
		<div class="col-lg-12 col-sm-12"><div class="form-group">
			<label>What are the things from your story that MUST be included in the song?</label>
                       <textarea class="form-control" name="storyMust" id="" rows="1" placeholder=""></textarea>
             </div></div>
		
		<div class="col-lg-4 col-sm-12"><div class="form-group">
                   <label>Feel of your song</label>
                       <select name="feel" class="form-control">
                         <option>Select</option>
						  <option>Love</option>
                          <option>Heart Felt</option>
						 <option>Happy</option>
						 <option>Sad</option>
						    <option>Funny</option>
						 <option>Energetic</option>
			</select>
             </div></div>
		
		<div class="col-lg-4 col-sm-12"><div class="form-group">
                   <label>Any similar song references from Bollywood/Hollywood</label>
                       <input type="text" name="reference" value="" class="form-control">
             </div></div>
		
		<div class="col-lg-2 col-sm-12"><div class="form-group">
                   <label>Speed/Tempo of the song</label>
                        <select name="tempo" class="form-control">
                         <option>Select</option>
						  <option>Slow</option>
                          <option>Mid Tempo</option>
						 <option>Fast</option>
						 <option>Whatever Suits</option>
			</select>
             </div></div>
		
		
		<!-- <div class="col-lg-2 col-sm-12"><div class="form-group">
                   <label>Choose Singer
</label>
                        <select class="form-control">
                         <option>Select</option>
						  <option>Male</option>
                          <option>Female</option>
						 <option>Whatever Suits</option>
			</select>
             </div> -->
            </div>
			
		
		</div>

	</div>
		 </div></div>
  
	<div class="row pt-2">
		   
		   
		   
		   
</div>  	  

		  <div class="row pb-4">
			  

<div class="col-12 text-right"><button type="submit" class="btn btn-main btn-darkB">Submit</button>   
			  
			  </div>   
			  
		<div class="col-12 text-center"><h4><img src="images/whatsapp.png"> &nbsp;for any query whatsapp +91-91 363 363 01</h4></div>	  
			  
	  </div>	
    </form>
		  
	  <!-- Modal -->


    <!------------------------------------------>		
		  
		  
		  
		  
		  
		  </div>
	  
	  	  
  <script src="/form/js/jquery-2.2.1.min.js"></script>
	  <script src="/form/js/bootstrap.js"></script>
  </body>
</html>