<%- include('header'); -%>
<style>
  .mobile-swiper{
    display: none;
  }
  @media only screen and (max-width: 800px){

    .pc-swiper{
      display: none;
    }
    .mobile-swiper{
      display: block;
    }
    .menu-item{
      width:40%;
      margin: 16px;
    }
  }
</style>


<section id="hero" class="d-flex align-items-center">
  <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
    <div class="row">
      <div class="col-lg-8">
        <h1>Gift <span>personalized songs</span></h1>
        <h2>from your favorite singers</h2>

        <div class="btns">
         
          <a href="/#artists" class="btn-book animated fadeInUp scrollto">Order Now</a>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
        <a href="https://www.youtube.com/watch?v=u6BOC7CDUTQ" class="glightbox play-btn"></a>
      </div>

    </div>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-5 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
          <div class="about-img">
            <img src="assets2/img/about.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-7 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h2>About Us</h2>
          <p class="fst-italic">
           India's true platform where creating your own original Bollywood/Hollywood style customised songs is possible in the most simplest & affordable way.
          </p>
      <p>
            With a pool of talented artists, composers, singers, music producers - SONGMINES offers to convert your emotions into an exclusive custom song.
          </p>
       <p>
           Make any event super magical with your favorite celebrity singer singing out your story & loved one's names in your very own exclusive song.</p>
      <p>Let's make it viral with songmines </br>
"ab har dil gaayega"
          </p>
         
          
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>songmines</h2>
        <p>How it works</p>
      </div>

      <div class="row">

        <div class="col-lg-4">
          <div class="box" data-aos="zoom-in" data-aos-delay="100">
            <span>01</span>
            <h4>Details of the occasion & that special person</h4>
            <p>Love Proposals, Relationships, Birthdays, Anniversaries, Weddings, Friendships or just any occasion you want to make memorable forever . . .</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="200">
            <span>02</span>
            <h4>Tell us the story & emotions you want to express</h4>
            <p>Do fill our checklist*, it will help us to cover all the aspects of your story . . .</p>
      <p><a href="OrderNow.html">Checklist</a></p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="300">
            <span>03</span>
            <h4> That's it</h4>
            <p>Good things take time, but we will deliver your own original song in 6 days
      </br></br><h4 class="p-0 m-0">songmines</br>"ab har dil gaayega"</h4></p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Menu Section ======= -->
  <section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>songmines</h2>
        <p>Singers</p>
      </div>

    
    
    
    
    
    
    
      <!--<div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="menu-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-starters">Starters</li>
            <li data-filter=".filter-salads">Salads</li>
            <li data-filter=".filter-specialty">Specialty</li>
          </ul>
        </div>
      </div>-->

    
    
     <div class="row events-slider swiper singer-swiper pc-swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide pc"><div class="row event-item">
      <div class="col-lg-2 col-sm-6 menu-item">
          <img src="assets2/img/menu/lobster-bisque.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Salman Ali</a>
          </div>
         
        </div>
    <div class="col-lg-2 col-sm-6 menu-item">
          <img src="assets2/img/menu/greek-salad.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Neelanjana</a>
          </div>
          
        </div>
      
    <div class="col-lg-2 col-sm-6 menu-item">
          <img src="assets2/img/menu/Sachin.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Sachin Kumar</a>
          </div>
          
        </div>	
        <div class="col-lg-2 col-sm-6 menu-item">
          <img src="assets2/img/menu/bread-barrel.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Chetna</a>
          </div>
          </div>
    <div class="col-lg-2 col-sm-6 menu-item">
          <img src="assets2/img/menu/Nihal.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Nihal Tauro</a>
          </div>
         
        </div>
        <div class="col-lg-2 col-sm-6 menu-item">
          <img src="assets2/img/menu/cake.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Sayli Kamble</a>
          </div>
          
        </div>
      
      

        
      
      </div></div>
     
      
      
  <div class="swiper-slide pc"><div class="row event-item">
    
    <div class="col-lg-2 col-sm-6 menu-item text-center">
          <img src="assets2/img/menu/Ananya.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Ananya</a>
          </div>
         
        </div>
        <div class="col-lg-2 col-sm-6 menu-item text-center">
          <img src="assets2/img/menu/lobster-roll.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Sireesha</a>
          </div>
         
        </div>
    
    
      
    <div class="col-lg-2 col-sm-6 menu-item">
          <img src="assets2/img/menu/spinach-salad.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Shahzan</a>
          </div>
         
        </div>
    
      <div class="col-lg-2 col-sm-6 menu-item">
          <img src="assets2/img/menu/mozzarella.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Kinjal</a>
          </div>
         
        </div>

          <div class="col-lg-2 col-sm-6 menu-item">
          <img src="assets2/img/menu/caesar.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Sharad Sharma</a>
          </div>
         
        </div>

        <div class="col-lg-2 col-sm-6 menu-item">
          <img src="assets2/img/menu/tuscan-grilled.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Anshika</a>
          </div>
          
        </div>
      
      

       

        
      
      </div></div>	  
      
      
      
      
      
       </div>
       </br>
    <div class="swiper-pagination pt-5"></div>
    
    </div>
     <div class="row events-slider swiper singer-swiper mobile-swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide mobile">
            <div class="row event-item">
            <div class="col-lg-2 col-sm-3 menu-item text-center">
                  <img src="assets2/img/menu/Ananya.jpg" class="menu-img" alt="">
                  <div class="menu-content">
                    <a href="#">Ananya</a>
                  </div>
                </div>
            <div class="col-lg-2 col-sm-3 menu-item text-center">
                  <img src="assets2/img/menu/Ananya.jpg" class="menu-img" alt="">
                  <div class="menu-content">
                    <a href="#">Ananya</a>
                  </div>
                </div>
           
              </div>
            </div>	
          <div class="swiper-slide mobile">
            <div class="row event-item">
            <div class="col-lg-2 col-sm-3 menu-item text-center">
                  <img src="assets2/img/menu/Ananya.jpg" class="menu-img" alt="">
                  <div class="menu-content">
                    <a href="#">Ananya</a>
                  </div>
                </div>
            <div class="col-lg-2 col-sm-3 menu-item text-center">
                  <img src="assets2/img/menu/Ananya.jpg" class="menu-img" alt="">
                  <div class="menu-content">
                    <a href="#">Ananya</a>
                  </div>
                </div>
           
              </div>
            </div>	
          <div class="swiper-slide mobile">
            <div class="row event-item">
            <div class="col-lg-2 col-sm-3 menu-item text-center">
                  <img src="assets2/img/menu/Ananya.jpg" class="menu-img" alt="">
                  <div class="menu-content">
                    <a href="#">Ananya</a>
                  </div>
                </div>
            <div class="col-lg-2 col-sm-3 menu-item text-center">
                  <img src="assets2/img/menu/Ananya.jpg" class="menu-img" alt="">
                  <div class="menu-content">
                    <a href="#">Ananya</a>
                  </div>
                </div>
           
              </div>
            </div>	
          <div class="swiper-slide mobile">
            <div class="row event-item">
            <div class="col-lg-2 col-sm-3 menu-item text-center">
                  <img src="assets2/img/menu/Ananya.jpg" class="menu-img" alt="">
                  <div class="menu-content">
                    <a href="#">Ananya</a>
                  </div>
                </div>
            <div class="col-lg-2 col-sm-3 menu-item text-center">
                  <img src="assets2/img/menu/Ananya.jpg" class="menu-img" alt="">
                  <div class="menu-content">
                    <a href="#">Ananya</a>
                  </div>
                </div>
           
              </div>
            </div>	
          

       </div>
       </br>
    <div class="swiper-pagination pt-5"></div>
    
    </div>
    
    
    
      

    </div>
  </section><!-- End Menu Section -->

  

  <!-- ======= Events Section ======= -->
  <section id="events" class="events">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Originals</h2>
        <p>Songmines Originals</p>
      </div>

      <div class="events-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="row event-item">
              <div class="col-lg-3 text-center">
                <a href="https://youtu.be/LPYLhHWWsa4" target="_blank"><img src="assets2/img/event-birthday.jpg" class="img-fluid" alt="">Sun To Zara</a>
              </div>
              <div class="col-lg-3 text-center">
               <a href="https://youtu.be/KWknyu6Vp90" target="_blank"><img src="assets2/img/event-private.jpg" class="img-fluid" alt="">Love U Momma</a>
              </div>
        <div class="col-lg-3 text-center">
                <a href="https://youtu.be/LPYLhHWWsa4" target="_blank"><img src="assets2/img/event-birthday.jpg" class="img-fluid" alt="">Sun To Zara</a>
              </div>
              <div class="col-lg-3 text-center">
               <a href="https://youtu.be/KWknyu6Vp90" target="_blank"><img src="assets2/img/event-private.jpg" class="img-fluid" alt="">Love U Momma</a>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="row event-item">
              <div class="col-lg-3 text-center">
                <a href="https://youtu.be/LPYLhHWWsa4" target="_blank"><img src="assets2/img/event-birthday.jpg" class="img-fluid" alt="">Sun To Zara</a>
              </div>
              <div class="col-lg-3 text-center">
               <a href="https://youtu.be/KWknyu6Vp90" target="_blank"><img src="assets2/img/event-private.jpg" class="img-fluid" alt="">Love U Momma</a>
              </div>
        <div class="col-lg-3 text-center">
                <a href="https://youtu.be/LPYLhHWWsa4" target="_blank"><img src="assets2/img/event-birthday.jpg" class="img-fluid" alt="">Sun To Zara</a>
              </div>
              <div class="col-lg-3 text-center">
               <a href="https://youtu.be/KWknyu6Vp90" target="_blank"><img src="assets2/img/event-private.jpg" class="img-fluid" alt="">Love U Momma</a>
              </div>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Events Section -->

  

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Reviews</h2>
        <p>What our celebs / clients says</p>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets2/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Aditya Narayan</h3>
              <h4>Singer & Anchor</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets2/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Nidhi</h3>
              <h4>Creatives</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets2/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Senjuti Das</h3>
              <h4>Singer</h4>
            </div>
          </div><!-- End testimonial item -->

          

          

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->

 

  <!-- ======= Chefs Section ======= -->
 <!-- <section id="chefs" class="chefs">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Chefs</h2>
        <p>Our Proffesional Chefs</p>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="member" data-aos="zoom-in" data-aos-delay="100">
            <img src="assets2/img/chefs/chefs-1.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Walter White</h4>
                <span>Master Chef</span>
              </div>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="member" data-aos="zoom-in" data-aos-delay="200">
            <img src="assets2/img/chefs/chefs-2.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Sarah Jhonson</h4>
                <span>Patissier</span>
              </div>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="member" data-aos="zoom-in" data-aos-delay="300">
            <img src="assets2/img/chefs/chefs-3.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>William Anderson</h4>
                <span>Cook</span>
              </div>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>-->
  </section><!-- End Chefs Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Us</p>
      </div>
    </div>

    

    <div class="container" data-aos="fade-up">

      <div class="row mt-5">

        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
        <p>SONGMINES, </br> Andheri west, Mumbai, India</p>
            </div>

            

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p><a href="mailto:songminesteam@gmail.com" target="_blank">songminesteam@gmail.com</a></p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Whats app/Botim:</h4>
              <p><a href="https://wa.me/+919136336301" target="_blank">+91-91 363 363 01</a></p>
        
            </div>

          </div>

        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">

          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="8" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>

        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

<%- include('footer'); -%>
<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets2/vendor/aos/aos.js"></script>
<script src="assets2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets2/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets2/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets2/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets2/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets2/js/main.js"></script>

</body>

</html>