<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&amp;display=swap"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="stylesheet" href="css/swiper.css" type="text/css" />
    <link rel="stylesheet" href="css/dark.css" type="text/css" />
    <link rel="stylesheet" href="css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/animate.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="css/custom.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Forget Password - Layout 2 | Canvas</title>
  </head>
  <body class="stretched">
    <div id="wrapper" class="clearfix">
      <%- include('header'); -%>

      <section id="page-title">
        <div class="container clearfix">
          <h1>Forgot Password</h1>
          <!-- <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active" aria-current="page">Login</li>
          </ol> -->
        </div>
      </section>

      <section id="content">
        <div class="content-wrap">
          <div class="container clearfix">
            <div
              class="tabs mx-auto mb-0 clearfix"
              id="tab-login-register"
              style="max-width: 500px"
            >
              <ul class="tab-nav tab-nav2 center clearfix">
                <li class="inline-block">
                  <a href="#tab-login">Forget Password</a>
                </li>
              </ul>
              <div class="tab-container">
                <div class="tab-content" id="tab-login">
                  <div class="card mb-0">
                    <div class="card-body" style="padding: 40px">
                      <form
                        id="login-form"
                        name="login-form"
                        class="mb-0"
                        action="/update-password"
                        method="post"
                      >
                        <h3>Login to your Account</h3>
                        <div class="row">
                          <div class="col-12 form-group">
                            <label for="login-form-username">Email:</label>
                            <input
                              type="email"
                              id="login-form-username"
                              name="email"
                              value=""
                              class="form-control"
                            />
                          </div>
                          <div class="col-12 form-group">
                            <label for="login-form-username">OTP:</label>
                            <input
                              type="number"
                              id="login-form-username"
                              name="otp"
                              value=""
                              class="form-control"
                            />
                          </div>
                          <div class="col-12 form-group">
                            <label for="login-form-password"
                              >New Password:</label
                            >
                            <input
                              type="password"
                              id="login-form-password"
                              name="password"
                              value=""
                              class="form-control"
                            />
                          </div>
                          <div class="col-12 form-group">
                            <label for="login-form-password"
                              >Confirm Password:</label
                            >
                            <input
                              type="password"
                              id="login-form-password"
                              name="passwordConfirm"
                              value=""
                              class="form-control"
                            />
                          </div>
                          <div class="col-12 form-group">
                            <button
                              class="button button-3d button-black m-0"
                              id="login-form-submit"
                              name="login-form-submit"
                              value="login"
                            >
                              Login
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <%- include('footer'); -%>
    </div>

    <div id="gotoTop" class="icon-angle-up"></div>

    <script
      data-cfasync="false"
      src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script src="js/jquery.js"></script>
    <script src="js/plugins.min.js"></script>

    <script src="js/functions.js"></script>
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993"
      integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA=="
      data-cf-beacon='{"rayId":"796ed7eeecd5e33c","token":"0627f0b8b73941069bc19139e63db853","version":"2022.11.3","si":100}'
      crossorigin="anonymous"
    ></script>
  </body>
</html>
